.app-header {
    // background-color: $header-clr;
    background-color: rgba(23, 43, 77, 0.7);
    color: $light-clr;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }

    nav {
        padding: 5px 0;
        display: flex;
        a {
            .logo {
                display: inline;
                height: 40px;
            }
        }
    }

    nav a:not(:first-child) {
        padding: 0 5px;
        color: $light-clr;
        margin: 10px;
    }

    button{
        color:$light-clr;
    }


}