.app-header {
    font-size: 14px;
    background-color: #0094ae;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 40px;
    color: $light-clr;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .login {
        font-weight: unset;
        margin-right: 10px;
        font-size: 14px;
    }

    h2 {
        justify-content: center;
        justify-self: flex-start;
        vertical-align: middle;
        align-content: center;
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .btn {
        display: flex;
        align-items: center;
        // font-size: 18px;
        // font-weight: 700;
        height: 32px;
        padding: 0 12px;
        color: white;
        // background-color: rgba(255, 255, 255, 0.3);
        // background-color: #026aa7bf;

        img {
            vertical-align: middle;
        }
    }

    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }

    nav {
        padding: 5px 0;
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            .logo {
                display: inline;
                height: 16px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }

    nav a:not(:first-child) {
        padding: 0 5px;
        color: $light-clr;
        margin: 10px;
    }

    button {
        color: $light-clr;
    }
}

.board-header {
    height: 52px;
    // padding: 8px 4px 4px 8px;
    padding: 10px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 40px;
    z-index: 14;
    display: flex;
    align-items: center;
    color: white;

    .header-right {
        img {
            margin-right: 5px;
        }

        >* {
            font-size: 14px !important;
            font-weight: unset;
        }
    }

    i {
        margin-right: 8px;
    }

    .flex {
        &>*:not(:last-child) {
            margin-right: 10px;
        }

        &>*:not(:first-child) {
            font-size: 14px;
            font-weight: unset;
        }
    }

    h2 {
        font-weight: 600;
        // margin: 0 1rem 0 0;
        // align-self: center;
        justify-content: center;
        justify-self: flex-start;
        vertical-align: middle;
        align-content: center;
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .btn {
        display: flex;
        align-items: center;
        font-size: 18px;
        // font-weight: 700;
        height: 32px;
        padding: 0 12px;
        color: white;
        // background-color: rgba(255, 255, 255, 0.3);
        // background-color: #026aa7bf;

        img {
            vertical-align: middle;
        }
    }

    input {
        overflow: hidden;
        overflow-wrap: break-word;
        height: 30px;
        width: 198px;
        outline: none;
        border: none;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background-color: #fafbfc;
        border-radius: 3px;
        display: block;
        line-height: 20px;
        margin-bottom: 12px;
        padding: 8px 12px;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        color: #172b4d;
        font-family: inherit;
        font-size: 18px;
        font-weight: 700;

        &:focus {
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #0079bf;
        }

    }

    form .btn {
        width: 101px;
    }
}