.app-header {

    background-color: #0094ae;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 77px;
    color: $light-clr;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }

    nav {
        padding: 5px 0;
        display: flex;
        align-items: center;

        a {
            .logo {
                display: inline;
                height: 40px;
            }
        }
    }

    nav a:not(:first-child) {
        padding: 0 5px;
        color: $light-clr;
        margin: 10px;
    }

    button {
        color: $light-clr;
    }


}

.board-header{
    height: 59px;
    padding: 8px 4px 4px 8px;
    position: fixed;
    left:0px;
    right: 0px;
    top: 77px;
    z-index: 14;
    display: flex;
    align-items: center;
    >*not:first-child{
        margin-left: 10px;
    }
    h2{
        margin: 0 1rem 0 0;
        align-self: center;
        justify-self: flex-start;
    }

    // background-color: #00aecc;
    
        
        .btn {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        padding: 0 12px;

        // background-color: #026aa7bf;

        img {
            vertical-align: middle;
        }
    }

    input {
        width: 92px;
        margin: 0;
    }

    form .btn {
        width: 101px;
    }
}