.archive{
    margin-top: 40px;
    p{
        margin: 0;
    }
    .archive-item{
        background-color: #ebecf0;
        margin-bottom: 0.8rem;
        border-radius: 6px ;
        width: fit-content;
        padding: 0.5rem 1rem;
    }
    h3{
        margin-bottom: 1rem;
    }
}