.card-list{
    background-color: #ebecf0;
    padding: 10px;
}

.board{
    // display: flex;
    // justify-content: space-around;
    font-size: 1rem;
}

.card-preview{
    background-color: rgb(223, 191, 191);
    border: 1px solid grey;
    margin-bottom: 5px;
}