/* Ghost for movable object */
.ghost {
    opacity: 0.5;
    background: #F7FAFC;
    border: 1px solid #4299e1;
    border: 5px solid gray;
}

.chosen-drag {
    transform: rotate(90deg);
    transform: scaleY(1.5);
    transform: skewY(20deg);
    border: 5px solid blue;
}

.main-board-container {
    display: flex;
    flex: 1;
    height: calc(100vh - 130px);

    .btn {
        flex-shrink: 0;

        &.new-group {
            width: 276px;
            text-align: left;
            background-color: rgba(128, 128, 128, 0.1);
            color: white;

        }
    }
}

.board {
    margin-top: 77px;
    width: 100%;
    // width: max-content;

    button img {
        width: 15px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
    h2{
        font-size: 18px;
    }

    section.board-menu{
        padding: 0px;
    }

    .board-header .form__field{
        position: absolute;
        z-index: 4;
        background-color: #fff;
        padding: 0 10px;;
    }

}

.boards {
    margin-top: 77px;
}