/* Ghost for movable object */
.ghost {
    opacity: 0.5;
    background: #F7FAFC;
    border: 1px solid #4299e1;
    border: 5px solid gray;
    transform: rotate(90deg);
}

.chosen-drag {
    border: 5px solid blue;
}

.main-board-container {
    overflow-y:hidden;
    display: flex;
    flex: 1;
    // height: calc(100vh - 136px);
    height: calc(100vh - 153px);

    .btn {
        flex-shrink: 0;

        &.new-group {
            width: 276px;
            text-align: left;
            background-color: rgba(128, 128, 128, 0.1);
            color: white;
            display: flex;
            align-items: center;
        }
    }
}

.board {
    overflow-y:hidden;
    margin-top: 136px;
    height: 100%;
    min-width: 100%;
    width: max-content;

    button img {
        width: 15px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
    h2{
        font-size: 18px;
    }

    section.board-menu{
        padding: 0px;
    }

    .board-header .form__field{
        position: absolute;
        z-index: 4;
        background-color: #fff;
        padding: 0 10px;;
    }

}

.boards {
    margin-top: 77px;
}