.task-list-container {
    display: flex;
    // flex-direction: row;
    flex-wrap: nowrap;
    // margin-right: 100px;
}

.group-list {
    position: relative;
    background-color: #ebecf0;
    padding: 10px;
    width: 276px;
    list-style: none;
    margin-right: 15px;
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
    list-style: none;

    .list-title {
        padding-left: 4px;
        padding-top: 2px;
    }

    img {
        width: 25px;
        opacity: 0.9;

        &:hover {
            opacity: 1;
        }
    }
}
    .group-menu{
        background-color: springgreen;
        position: absolute;
        box-shadow: $box-shadow;
        top: 165px;
        display: flex;
        flex-direction: column;
        background-color: #fff;

        .group-menu-header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            align-self: center;
            vertical-align: middle;
            border-bottom: 1px solid rgb(168, 168, 168);

            h4{
                margin: 0;
            }
        }
 
}
