.task-list-container{
    margin: 0;

    display: flex;
    .group-list{
        // overflow-y:scroll !important;
        // max-height: 70vh;
        width: 257px;
        margin-left: 10px;
        border-radius: 4px;
        box-shadow: 0 1px 7px -2px; 
        ul{
            margin: 0;
        }
    }
    .preview-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left:8px;
        padding-right:3px;
        padding-top: 8px;
        padding:3px 3px 3px 8px;
        h4{
            margin-left: 3px;
        }
        .btn{
            // margin: 0 8px 2px 0;
            padding:0;
        }
    }
    .preview-content{
        overflow-y: scroll;
        padding: 0 8px;
        overflow-y:scroll !important;
        max-height: 70vh;
    }
    footer{
        height: 38px;
        margin-top: -4px;
        margin-bottom: 8px;
        border-radius: 4px;
        .btn{

            flex: 1 0 auto;
            margin: -4px 0 8px 0;
            // padding: 4px 8px;
            text-align: start;
            position: relative;  
            // background-color: tan;
            width: 100%;
        }
        

    }
}

    .group-menu{
        background-color: springgreen;
        position: absolute;
        box-shadow: 0 0px 4px 0px rgba(9 ,30, 66, 0.5 );
        top: 180px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        z-index: 3;

        .group-menu-header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            align-self: center;
            vertical-align: middle;
            border-bottom: 1px solid rgb(168, 168, 168);

            h4{
                margin: 0;
            }
        }
}
