.color-picker, .v-swatches{
    position: absolute;
    background-color: rgb(48, 47, 47);
    z-index:1
}


.label{
    cursor: pointer;
    padding: 4px 0 0 20px;
    color:$light-clr;
    font-weight: 700;
    // letter-spacing: .7px;
    height: 30px;
    width: 220px;
    border-radius: 4px;
    margin-top:5px ;
}
.green{
    background-color: $green;
}
.yellow{
    background-color: $yellow;
}
.orange{
    background-color: $orange;
}
.red{
    background-color: $red;
}
.purple{
    background-color: $purple;
}
.blue{
    background-color: $blue;
}

.task-lable-menu{
    border-radius: 3px;
    z-index: 4;
    background-color: whitesmoke;
    box-shadow:0 0px 3px -1px ;
    padding: 10px 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 186px;
    right: 85px;
    header{
        p{
            font-size: 16px;
            font-weight: 400;
        }
        display: flex;
        justify-content: center;
        color: #5e6c84;
        border-bottom: 1px solid rgba(9,30,66,.13);
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
    }
    .label-container{
        display: flex;
        .btn{
            padding: 0;
            margin-right: -8px;
        }
    }
}

.checklist-title-modal{
    position: absolute;
    box-shadow: 0 0px 4px 0px rgba(9 ,30, 66, 0.5 );
    top: 124px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 3;
    border-radius: 3px;
    right: 85px;
    .btn{
        padding-left: 19px!important;
        &:hover{
            color: #fff!important;
            background-color:$green!important ;
        }
    }


    .checklist-modal-header{
        p{
            margin: 0;
            margin-bottom: 9px;
            font-size: 16px;
        }
        margin: 0 12px;
        margin-top: 10px;

        display: flex;
        justify-content: center;
        color: #5e6c84;
        border-bottom: 1px solid rgba(9,30,66,.13);
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
        
        .btn{
            color: #6b778c;
            background-color: unset;
            position: absolute;
            top: 1;
            right: 0;
            z-index: 2;
            display: inline-flex;
            flex-direction:column ;
            align-items: center;
            justify-content: center;
            margin-left: 40px;
            width: 32px;
            
            
        }
       
        h4{
            box-sizing: border-box;
            color: #5e6c84;
            display: block;
            line-height: 40px;
            border-bottom: 1px solid rgba(9,30,66,.13);
            margin: 0 12px;
            overflow: hidden;
            padding: 0 32px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 1;
        }
    }
    form{
        padding: 0 12px 0 12px;   
        input{
            padding: 8px 12px;
            border-radius: 4px;
            outline: none;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            background-color: #fafbfc;

        }
        .btn{
            height: 32px;
            width: 72px;
            text-align: center;
            background-color: $green;
            color: white;
            margin-top: 10px;
            margin-left: 1px;
            &:hover{
                background-color:#82d172;
                color: white;
            }
        }
    }
}

.date-picker{
    position: absolute;
    top: 265px;
    left: 500px;
    input{
        box-shadow: inset 0 0 0 2px #0079bf;
        border-radius: 4px;


    }
}

.board-menu.active{
    width:350px;
    transition: width ease-in-out 0.10s;
    .board-menu-content{
        width:inherit;
        background-color: #fff;
    }
    
}

.board-menu{
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width:0px;
   
    .btn-menu-modal{
        z-index: 3;
        float: right;
        background-color: transparent;
    }
    .board-menu-content{
        width: inherit;
        position: relative;
        padding: 8px 20px;
        >*{
            width: 100%;
        }
        .menu-modal-header{
            height: 50px;
            line-height: 40px;
            border-bottom: 1px solid rgba(9,30,66,.13);
            overflow: hidden;
            padding-left: 32px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
           
            .btn{
                position: absolute;
                right: 12px;
                border-radius: 50px;
             

                &:hover{
                    background-color: rgba(218, 214, 214, 0.5);
                }
            }
            p{
                position: absolute;
                left: 42%;
                top: 3px;
                font-size: rem(18px);
                color: #42526e;
            }
        }
        .search-input{
            display: inline-flex;
            align-items: flex-start;
            .btn{
                margin-left: 10px;
                &:hover{
                    color: black;
                }
            }
        }
        input{
            font-size: 16px;
            font-weight: 400;
            // -color: lawngreen;
            width: 80%;
        }

    }
    .btn{
        font-size: 16px;
        font-weight: 600;
        margin-top: 6px;
        color: #42526e;
        &:hover{
            background-color:rgba(218, 214, 214, 0.5);
        }
    }
    .module-header{
        margin-left: 5px; 
        color:#172b4d;
        margin: 18px 0;
        i{
            margin-right: 10px;
            font-size: 22px;
            color: #42526e;
        }
        h3{
            padding-bottom: 10px;
            // margin-left: -5px;
        }
    }


    .task-activity {
        display: flex;
        margin-top: 5px;
        p{
            margin: 0;
        }
        .activity-creator{
            align-items: center;
            margin-right: 10px;
            margin-top: 2px;
            .avatar{
                span{
                    font-size: 13px;
                    font-weight: 600;
                    text-align: center;
                    letter-spacing: .5px;
                    color: rgb(242, 248, 248);
                }
            }
        }
        .activity-info{
            p{
                font-weight: 700;
                color:$task-txt;
            }
            span{
                color:$task-txt;
                font-weight: 400;
                margin-left: 8px;
            }
            .activity-date{
                font-weight: 400;
                color: $clr4;
            }
            
        }
    }
    
}