.task-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: rgb(256, 256, 256);
    box-shadow: $box-shadow;
    margin-bottom: 8px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right:5px;
    z-index: 2;
    overflow-x: hidden;
    word-break: break-word;
    cursor: pointer;
    .task-edit {
        min-height: 40px;
    }
    &:hover {
        .edit-task-title {
            i {
                // color: $task-txt;
                color: grey;
            }
        }
    }

    .edit-task-title {
        position: absolute;
        top:-4px;
        right: 0;
        i {
            color: transparent;
            font-weight: 500;
        }
    }

    h4 {
        word-break: break-all;
    }

    .task-header {
        min-height: 40px;
        color: $task-txt;
        background-color: transparent;

        .task-label-container {
            display: flex;
            flex-wrap: wrap;

            .small-label {
                cursor: pointer;
                border-radius: 4px;
                float: left;
                font-size: 12px;
                font-weight: 700;
                height: 8px;
                margin: 4px 4px 4px 0;
                padding: 0;
                text-shadow: none;
                width: 40px;
                transition: height 0.25s ease-in-out, width 0.25s ease-in-out 0.25s;
            }

            .label-info {
                width: 56px;
                height: 22px;
                text-align: center;
                font-size: rem(13px);
                color: white;
                padding-bottom: 2px;
            }
        }

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 0.5px;

            button {
                padding: 0 0;
                min-width: 0;
            }
        }

        p {
            margin: 9px 0;
        }

        textarea {
            width: 100%;
            background: transparent;
            border-radius: 3px;
            font-weight: 600;
            font-size: rem(20px);

            margin: -4px 0;
            height: 28px;
            min-height: 20px;
            padding: 4px 8px;
            resize: none;
            max-height: 256px;

            :focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
            }
        }
    }

    .btn {
        color: $task-txt;
        padding: 0 5px;
        min-width: 0;
        span{
            font-size: 12px !important;
        }
    }

    .eye {
        background-color: transparent;
        margin: 0;
        // padding-bottom: 0.5px;
    }

    .task-body {
        // display: flex;
        // flex-direction: row-reverse;
        // justify-content: space-between;
        // vertical-align: middle;
        // align-items: center;
        // padding-bottom: 4px;
        .members-container{
            float:right;
            // padding-top: 8px;
            padding-bottom: 5px;
            padding-right: -10px;
        }
        .btn-container {
            float: left;
            display: flex;
            align-items: center;
            line-height: 40px;
            width:fit-content;
            margin-left:-2px;
            padding-top:4px;
            .complete{
                background-color: #61bd4f !important;
                color: white;
                height: 24px;
                p{
                    color:#fff;
                }
                &:hover{
                    background-color: #519839 !important;
                }
            }
            .clock {
                display: flex;
                align-items: center;
                height: 24px;
                background-color: transparent;
                border: none;
                p{
                    line-height: 12px;
                    font-size: 12px;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                    "Helvetica Neue", sans-serif !important;
                }
                &:hover{
                    border-radius: 3px;
                    background-color: #ebecf0;
                }
            }
            img {
                opacity: 1;
                width: 14.2px;
                margin-right: 4px;
            }
        }
        p {
            margin: 0;
        }

        .avatar {
            margin: 0 2px;
            float: right;
            height: 30px;
            width: 30px;
            align-self: center;
        }

        .badge {
            max-width: 100%;
            min-height: 20px;
            display: inline-block;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
            border: none;
            cursor: pointer;
            border-radius: 3px;
            background-color: transparent;
            letter-spacing: .2px;
            padding: 2px;
            margin: 0 10px 4px 0;
            span{
                padding-right: 4px;
            }
           
            
                .white-font{
                    color: white !important;
                }
            

            > * {
                color: #5e6c84;
                font-size: 14px;
            }

            &:hover {
                background-color: transparent;
                border: none;
                color: unset;
            }
        }
        .checklist {
            margin-left: -6px;
            span {
                margin-left: 0;
            }
            
        }
    }
}
