.task-preview {
    position: relative;
    background-color: rgb(256, 256, 256);
    box-shadow: $box-shadow;
    margin-bottom: 8px;
    border-radius: 3px;
    padding: 0 10px;
    z-index: 2;

    h4 {
        word-break: break-all;
    }

    .task-header {
        color: $task-txt;
        background-color: inherit;

        .task-label-container {
            padding-top: 4px;
            display: flex;
            flex-wrap: wrap;

            .small-label {
                display: block;
                width: 40px;
                height: 8px;
                margin-right: 4px;
                margin-bottom: 4px;
                border-radius: 4px;
            }
        }


        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 0.5px;

            button {
                padding: 0 0;
                min-width: 0;
            }
        }

        p {
            margin: 0 0;
        }

        textarea {
            width: 100%;
            background: transparent;
            border-radius: 3px;
            font-weight: 600;
            font-size: rem(20px);

            margin: -4px 0;
            height: 28px;
            min-height: 20px;
            padding: 4px 8px;
            resize: none;
            max-height: 256px;

            :focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
            }
        }
    }

    .btn {
        color: $task-txt;
        padding: 0 5px;
        min-width: 0;
    }

    .avatar {
        margin: 0 2px;
        float: right;
        height: 30px;
        width: 30px;
        align-self: center;
        // margin-top: 8px;
    }

    .badge {
        margin: 0 4px 4px 0;
        max-width: 100%;
        min-height: 20px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        // padding: 2px;
        text-decoration: none;
        text-overflow: ellipsis;
        vertical-align: top;
        border: none;
    }

    .eye {
        background-color: transparent;
        margin: 0;
    }
    .task-body{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        align-self:center;
        vertical-align: middle;
        p{
            margin: 0;
        }
    }
}

.task-details-modal {
    // position: absolute;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    z-index: 15;

    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.7);

    h5,
    h4,
    h3,
    h2 {
        margin: .6em 0 .6em 0;
    }

    .task-details-content {
        background-color: rgb(242, 248, 248);
        min-height: 600px;
        // padding: 0 15px;
        width: 770px;
        margin: 48px auto 80px auto;
        position: relative;

        header {
            padding: 0 15px;

            h1 {
                margin-bottom: 3px;
            }
        }

        main {
            padding: 0 15px;
        }

        h1 {
            font-size: 22px;
            padding-top: 20px;

        }

        span {
            color: $clr4;
        }

        .task-desc {
            clear: both;
            margin-bottom: 24px;
            position: relative;
            display: flex inline-block;
        }

        .description-area {
            cursor: pointer;
            background-color: rgb(226, 228, 233);
            box-shadow: none;
            border: none;
            border-radius: 3px;
            display: block;
            min-height: 50px;
            padding: 8px 12px;
        }

        .description-area:active {
            background-color: #e4f0f6;
            box-shadow: none;
            border: none;
            color: #0079bf;
            outline: 0;
        }

        .comment-box {
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 2px -1px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.8);
            margin: 4px 4px 12px 0;
            overflow: hidden;
            position: relative;
            transition: box-shadow 85ms ease;
            font-family: roboto;
        }

        .comment-section {
            display: flex;
            align-items: center;
            vertical-align: middle;

            .btn {
                margin-bottom: 8px;
            }

            textarea {
                resize: none;
                width: 500px;
            }
        }
        .task-comment{
            // outline: 1px solid black;
            padding: 5px ;
            // display: flex;
            // flex-direction: row;

        }

        .comment-creator {
            display: flex;
            align-items: center;

            >* {
                margin: 0 4px;
            }
        }

        .comment-txt {
            margin-top: 3px;
            margin-left: 42px;
        }

        .task-members {
            clear: both;
            margin-bottom: 70px;
            position: relative;
            display: flex inline-flex;

            :not(h3) {
                float: left;

                :not(:first-child) {
                    margin-left: 5px;
                }
            }
        }
    }

    .close-btn {
        background-color: rgba(245, 245, 245, 0);
        font-size: 30px;
        transform: rotate(45deg);
        position: absolute;
        right: 1px;
    }

    .close-btn:focus {
        outline: none;
    }

    .close-btn:hover {
        opacity: .7;
    }

    .task-labels-wrapper {
        margin-bottom: 20px;
        .task-label {
            color: $light-clr;
            border-radius: 4px;
            float: left;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            min-width: 40px;
            padding: 0 12px;
            width: auto
        }
    }
}

.task-activity {
    display: flex;
    align-items: center;

    .avatar {
        height: 35px;
        width: 35px;
    }

    .txt {
        margin-left: 5px;

        >* {
            margin: 0;
        }

        span {
            color: black;
            font-weight: 700;
            margin-right: 2px;

        }
    }
}

.task-side-bar {
    // border: 1px solid lightpink;
    float: right;
    padding: 0 16px 8px 8px;
    width: 170px;
    position: absolute;
    top: 70px;
    right: 0;

    .dev-tools {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 24px;
        position: relative;

        button {
            background-color: rgba(9, 30, 66, .04);
            height: 32px;
            margin-top: 8px;
            max-width: 300px;
            overflow: hidden;
            padding: 6px 12px;
            position: relative;
            text-overflow: ellipsis;
            user-select: none;
            white-space: nowrap;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            font-size: 14px;
            text-align: left;

            i {
                margin-right: 3px;
            }

            .delete {
                background-color: $red;

            }
        }
    }
}

.task-checklists {
    // border: 1px solid black;

    .checklist {
        // border: 1px solid springgreen;
        position: relative;
    }

    .todo {
        padding-left: 40px;
    }


    .checkbox {
        border-radius: 2px;
        height: 16px;
        width: 16px;
        overflow: hidden;
        white-space: nowrap;
        transition: all .2s ease-in-out;
        background-color: #fafbfc;
        color: transparent;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        position: absolute;
        margin-top: 3px;
        margin-left: 6px;
        text-align: center;
        cursor: pointer;
    }

    .completed {
        p {
            text-decoration: line-through;
        }

        .checkbox {
            color: white;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            background-color: #0079bf;
            box-shadow: inset 0 0 0 2px #0079bf;

            i {
                font-size: 13px;
            }
        }

    }
}